@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'./fonts/Druk-Heavy-Trial.otf','Galorine', 'Druk Cond Trial', 'Poppins', 'CustomFontBold', 'Roboto', sans-serif;
    font-style: normal;    
    font-weight: 400;
    initial-letter: 2rem;
}